* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
}

.header_ineer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
}

.header_logo_link {
    margin-right: 100px;

}

.header_logo-img {
    margin-right:10px;

}
.header_menu {
    display: flex;
    margin-right: 1150px;
}


.header_menu_item {
    margin-right: 20px;
}
.header_menu_item:last-child {
    margin-right: 0;
}

.header_menu_item_sign {
    margin-right: 5px;
    list-style: none;
    
}

.header_sign_in {
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    background: #33A2E0;
    border-radius: 6px;
    border: 0;
    padding: 10px;
    transition: all .3s;
    margin-left: 20px;

}

.header_sign_in:hover {
    background: #1d6086;

}

/* HERO*/

.hero__btn-more {
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    background: #33A2E0;
    border-radius: 6px;
    border: 0;
    padding: 15px;

    transition: all .3s;
}
.hero__btn-more:hover {
    background: #1d6086;
}

.hero_inner  {
    margin: 250px;
}

.img {
    position: absolute;
    width: 796px;
    height: 543px;
    left: 950px;
    top: 280px;
}

.hero_title {
    font-family: Ramaraja;
    font-size: 72px;
    line-height: 76px;
    font-weight: normal;
    margin-bottom: 40px;
    
}


.hero_text {
    font-family: Roboto;
    font-size: 20px;
    color: #9A9A9A;
}

