.class {
    background-color:black;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.class1 {
    background-color:cornflowerblue;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.class2 {
    background-color:black;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.class3 {
    background-color:cornflowerblue;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.class4 {
    background-color:black;
    height: 100px;
    width: 100px;
    margin: 10px;
}